*{
    padding: 0;
    margin: 0;
    border: 0;
}
.navbar{
    position: sticky;
    display: flex;
/* border-top-left-radius: 15px; */
border-bottom: 4px solid rgba(233, 235, 235, 0.692)
}
.navbar img {
    height: 80px;
    margin-left: 20px;
}
.menu {
    display: flex;
    justify-content: space-between;
    margin-left: 580px;
    align-items: center;
    margin-top: 22px;
    height: 45px;
    padding: 2px 5px;
}
.menu li{
    list-style: none;
    justify-content: space-between;
    padding: 10px;
}

